<% @cartitems.each do |cartitem| %>
  <p>
    <%= cartitem.product.name %><br>
    <%= cartitem.product.price %>円<br>
    <%= cartitem.qty %>個　
    <%= link_to '削除', cartitem, method: :delete %><hr>
  </p>
  
<% end %>

<br>
合計金額：<%= @total_price %>円

<hr>
<%= link_to '戻る', product_index_path %>