<h1>商品一覧</h1>
<hr>
<% @products.each do |p| %>
<li>
  <%= p.name %>:
  <%= p.price %>円+税
  :<%= link_to '削除', p, method: :delete %>
  <%= form_tag cartitems_path(product_id: p.id), method: :post do %>
    <%= number_field_tag :qty %>個<br>
    <%= submit_tag 'カートに入れる' %>
  <% end %>
  <hr>
</li>
<% end %>

<%= link_to 'カートを表示する' , cart_show_path %><br>
<%= link_to '新商品追加', new_product_path %>